<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="..\CSS\style.css" rel="stylesheet" type="text/css"/>
        <title>Pet For Friend</title>
        <script src="..\Persistence\validarCampos.js"></script>
    </head>
    <body>
        <div class="fundoTela">
            <h2 class="titulo">MÓDULO DE CADASTROS</h2>
            <div class="alinhamentoTexto form-new">
                <h2 class="subtitulo">PESSOA JURÍDICA</h2>
                <form action="..\Controller\cadastrarPJ.php" method="POST" name="f1" autocomplete="off">
                    <div class="form-group">
                        CNPJ: <input type="text" name="cCNPJ" onblur="validarCNPJ(f1.cCNPJ)" maxlength="18" size ="30"><br> <div id="msgcnpj"></div>
                        Razão Social: <input type="text" name="cNome" maxlength="45" size="50"><br>
                        E-mail: <input type="text" name="cEmail" onblur="validacaoEmail(f1.cEmail)" maxlength="45" size='50'> <div id="msgemail"></div>
                        Senha: <input type="password" name="cSenha" maxlength="16" size="30"><br>
                        Código do Usuario: <input type="number" name="cIdUsuario" maxlength="4" size="6 ">
                    </div> <br>
                    <input type="submit" name="LGform1" class="btnSubmit" value="ENVIAR" />
                    <input type="reset" class="btnSubmit" value="LIMPAR">
                </form>
            </div>
        </div>
    </body>
</html>