<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="..\CSS\style.css" rel="stylesheet" type="text/css"/>
        <title>Pet For Friend</title>
    </head>
	
    <body>
        <div class="fundoTela">
            <h2 class="titulo">MÓDULO DE CONSULTAS</h2>
            <div class="alinhamentoTexto form-new">
                <h2 class="subtitulo">PESSOA JURÍDICA</h2>
                <form action="..\Controller\consultarPJcodigo.php" method="POST" name="f1" autocomplete="off">
                    <div class="form-group">
                        Código de Cadastro: <input type="text" name="cIdUsuario" maxlength="4" size="15">
                    </div>
                    <input type="submit" name="LGform1" class="btnSubmit" value="ENVIAR" />
                    <input type="reset" class="btnSubmit" value="LIMPAR">
                </form>
            </div>
        </div>
    </body>
</html>