<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="..\CSS\style.css" rel="stylesheet" type="text/css"/>
        <title>Pet For Friend</title>
    </head>

	<!-- Incluir outros HTMLs-->
	<script>
		function includeHTML() {
  var z, i, elmnt, file, xhttp;
  /* Loop through a collection of all HTML elements: */
  z = document.getElementsByTagName("*");
  for (i = 0; i < z.length; i++) {
    elmnt = z[i];
    /*search for elements with a certain atrribute:*/
    file = elmnt.getAttribute("w3-include-html");
    if (file) {
      /* Make an HTTP request using the attribute value as the file name: */
      xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4) {
          if (this.status == 200) {elmnt.innerHTML = this.responseText;}
          if (this.status == 404) {elmnt.innerHTML = "Page not found.";}
          /* Remove the attribute, and call this function once more: */
          elmnt.removeAttribute("w3-include-html");
          includeHTML();
        }
      }
      xhttp.open("GET", file, true);
      xhttp.send();
      /* Exit the function: */
      return;
    }
  }
}
	</script>
	
    <body>
		
		
		<!-- Menu Visitante Principal-->
		<div w3-include-html="../View/userMenu.html"></div>
		<script>includeHTML();</script>
		
		
        <div class="container register">
            <h2 class="modulo">MÓDULO DE EXCLUSÃO</h2>
            <div class="row">
                <div class="col-md-12">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active text-align form-new border" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <h2 id="cadastro">PET</h2>
                            <div class="row register-form">
                                <div class="col-md-12">
                                    <form action="..\Controller\excluirPet.php" method="POST" name="f1" autocomplete="off">
                                        <div class="form-group">
                                            Código de Cadastro: <input type="text" name="cCodigo" maxlength="4" size="15">
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" name="LGform1" class="btnSubmit" value="DELETAR" />
                                            <input type="reset" class="btnSubmit" value="LIMPAR">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>