<html>
<head>
	<title> Cadastro de Usuário </title>
    <link href="\CSS\styleLogin.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<div id="login">
	<div><img align="center" width="200px" height="200px" src="/Images/pet4friendLogo.png"/></div>
	<div>
	<form method="POST" action="/home.html" target="blank">
		<h1>ENTRAR</h1>
		<label>E-mail:</label><input type="text" name="email" id="email" placeholder="Digite seu e-mail: example@domain.com.br"><br>
		<label>Senha:</label><input type="password" name="senha" id="senha" placeholder="Digite sua senha"><br>
		<input type="submit" value="Entrar" id="entrar" name="entrar">
		<a href="#">Esqueci a senha</a>
	</form>
	</div>
</div>
</body>
</html>