 <head>
        <meta charset="UTF-8">
        <link href="CSS\style.css" rel="stylesheet" type="text/css"/>
 </head>
	
 <body>
	<nav>
	<ul class="menubg">
			<li><img align="center" width="50px" height="50px" src="../src/Images/pet4friendLogo.png"/></li>
			<li><u><h6>Olá, Visitante</h6></u></li>
			<li><a href="#">ENTRAR</a></li>
			<li><a href="./View/cadastrarPF.html" target="_blank">REGISTRAR-SE</a></li>
			<li>&emsp;</li>
			<li>&emsp;</li>
			<li>&emsp;</li>
			<li>&emsp;</li>
			<li>&emsp;</li>
			<li>&emsp;</li>
			<li><a href="#">Pets</a>
				<ul>
					<li><a href="Controller\consultarPets.php">CONSULTAR PETs</a></li>
				</ul>
			</li>
			<li><a href="#">EM BREVE</a></li>
			<li><a href="#">Fale Conosco</a></li>
			<li><a href="../src/index.html">Home</a></li>
	</ul>
	</nav>
 </body>