
.fundoTela{
    background: -webkit-linear-gradient(left, #5C257F, #D697FF);
    margin-top: 3%;
    padding: 2%;
    border-radius: 2.5rem;
}

.titulo{
    background-color: #ABD904;
    color: #021E73;
    text-align: center;
    border-radius: 2.5rem;
}

.subtitulo{
    background-color: #380B61;
    color: #FFFFFF;
    border-radius: 2.5rem;
    text-align: center; 
}

h1{
    color: #000000;
    background: -webkit-linear-gradient(right, #00FF80, #00c6ff);
    text-align: center;
    border-radius: 2.5rem;
}
#img_icon{
    border: none;
    width: 35px;
    height: 35px;
}

#img_pet{
    border: none;
    width: 60px;
    height: 60px;
}


.btnSubmit{
    width: 40%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
    margin-right: 6%;
    background-color: white;
    color: blue;
    margin-top: 4%;
}

.alinhamentoTexto{
    margin-top: -10%;
    margin-bottom: -9%;
    padding: 10%;
    margin-left: 10%;
}

.form-new{
    margin-right: 22%;
    margin-left: 20%;
}
.form-group{
    background: -webkit-linear-gradient(right, #00FF80, #00c6ff);
    margin-top: 3%;
    padding: 5%;
    line-height: 2;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  /*border: 1px solid #dddddd;*/
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}