h1{
    color: #000000;
    background: -webkit-linear-gradient(right, #00FF80, #00c6ff);
    text-align: center;
    border-radius: 2.5rem;
}
#cadastro{
    background-color: #380B61;
    color: #FFFFFF;
    text-align: center;
    border-radius: 2.5rem;
}
.modulo{
    background-color: #FFFF00;
    color: #088A08;
    text-align: center;
    border-radius: 2.5rem;
}
.btnSubmit{
    width: 40%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
    margin-right: 6%;
    background-color: white;
    color: blue;
    margin-top: 4%;
}
.register .nav-tabs .nav-link:hover{
    border: none;
}
.text-align{ /* Área de cadastro */
    margin-top: -10%;
    margin-bottom: -9%;
    padding: 10%;
    margin-left: 10%;
}
.form-new{
    margin-right: 22%;
    margin-left: 20%;
}   
.register{ /* Área de fundo do funmulário*/
    background: -webkit-linear-gradient(left, #00FF80, #00c6ff);
    margin-top: 3%;
    padding: 2%;
    border-radius: 2.5rem;
}