
.fundoTela{
    background: -webkit-linear-gradient(left, #5C257F, #D697FF);
    margin-top: 3%;
    padding: 2%;
    border-radius: 2.5rem;
}

.titulo{
    background-color: #ABD904;
    color: #021E73;
    text-align: center;
    border-radius: 2.5rem;
}

.subtitulo{
    background-color: #380B61;
    color: #FFFFFF;
    border-radius: 2.5rem;
    text-align: center; 
}

h1{
    color: #000000;
    background: -webkit-linear-gradient(right, #00FF80, #00c6ff);
    text-align: center;
    border-radius: 2.5rem;
}


h6{
	color: #32CD32;
    text-align: justify;
	text-transform: uppercase;
	font-size: large;
}

*{margin: 0; padding: 0;}

.menubg{
	background-color:#8B4513;
	font-family: arial,helvetica, sans-serif;
	font-size: 12px;
	list-style:none;
	border:1px solid #c0c0c0;
	float:center;
	display: flex;
	justify-content: space-between;
}

.menubg img{
	position:center;
	padding:15px 15px;
}

.menubg li{
	position:center;
	float:center;
	margin-left: auto;
    margin-right: auto;
}

.menubg li a{
	color:#8B4513; 
	text-decoration:none; 
	padding:15px 15px; 
	display:flex;
	background-color:#DCDCDC;
}

.menubg li a:hover{
	background:#98FB98;
	color:#8B4513;
	-moz-box-shadow:0 3px 10px 0 #CCC;
	-webkit-box-shadow:0 3px 10px 0 #ccc;
	text-shadow:0px 0px 5px #fff;
}


.menubg li u{
	padding:15px 25px; 
	display:flex;
	position:left;
}

.menubg li  ul{
	position:center;
	background-color:#fff;
	display:none;
	list-style:none;
}

.menubg li:hover ul, .menubg li.over ul{display:block;}

.menu li ul li{
	border:1px solid #c0c0c0;
	width:150px;
	padding: 2px 10px;
	display: flex;
}

#img_icon{
    border: none;
    width: 35px;
    height: 35px;
}

#img_pet{
    border: none;
    width: 60px;
    height: 60px;
}


.btnSubmit{
    width: 40%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
    margin-right: 6%;
    background-color: white;
    color: blue;
    margin-top: 4%;
}

.alinhamentoTexto{
    margin-top: -10%;
    margin-bottom: -9%;
    padding: 10%;
    margin-left: 10%;
}

.form-new{
    margin-right: 22%;
    margin-left: 20%;
}
.form-group{
    background: -webkit-linear-gradient(right, #00FF80, #00c6ff);
    margin-top: 3%;
    padding: 5%;
    line-height: 2;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  /*border: 1px solid #dddddd;*/
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}